
/* Overide slick slider styles */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('js/slick-EVLS6IWX.eot');
    src: url('js/slick-EVLS6IWX.eot') format('embedded-opentype'), url('js/slick-MU5EZO5G.woff') format('woff'), url('js/slick-NKQ64RRA.ttf') format('truetype'), url('js/slick-7CK47X3J.svg#slick') format('svg');
}
.slick-loading .slick-list
{
    background: #fff url('js/ajax-loader-BOAPMZMT.gif') center center no-repeat;
}
/* End Overide slick slider styles */

.page-content > *, .entry-content > * {
max-width: 100%;
}
 body{
    /* display: none; */
 }

 /* Services Slider item  */


.services-slider-item__content{
    display: flex;
    flex-direction: column;
}
 .services-slider-item{
    padding: 0 15px;
    margin-bottom: 30px;
 }
 .services-slider-item__thumbnail{
    flex-basis: 65%;
    max-width: 65%;
 }
.services-slider-item__thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 10px;
}
 /* End Services Slider item  */